.help_highlighted_widget {
  border: 2px solid #43AA8B;
}

.help_popover {
  border: 2px solid #43AA8B;
}

.no_left_radius {
  border-radius: 0px 3px 3px 0px;
}

.no_right_radius {
  border-radius: 3px 0px 0px 3px;
}

.desktop_config_header {
  font-size: large;
  font-weight: bold;
}

.i3blocks_header {
  font-size: large;
  font-weight: bold;
}

.i3blocks_bar_preview_img_box {
  background-color: #1f2430;
}

.i3blocks_highlighted_block_img {
  animation-name: highlight_block_img_animation;
  animation-duration: 2s;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px;
}

@keyframes highlight_block_img_animation {
  from { border-color: #43AA8B; }
  to { border-color: transparent; }
}

label link {
  color: #43AA8B;
}
